extends layout

block vars
  -section = 'Contact'

block content
  p
    |github : 
    a(href='https://github.com/dlau') https://github.com/dlau
  p
    |email: 
    a(href='mailto:daryl@lau.im') daryl@lau.im
